# Movie_DataQuest - Search For The Best Single Factor

In [1]:
# Dependencies
import pandas as pd
import requests
import json
from pprint import pprint
import matplotlib.pyplot as plt
from scipy.stats import linregress
import random
import numpy as np
from config import api_key
from config import api_key_txt
from config import tmdb_api_key

### Project description and outline:

Description: How do various movie characteristics affect movie success?

Definition of Success:  Total U.S. Box Office Receipts

Characteristics Considered: 
  - Genre
  - Run time
  - Budget
  - Critical reviews
  - User reviews
  - Awards / nominations
  - MPAA Rating

Hypothesis: The closer box office receipts correlate with the various movie characteristics, 
the stronger the influence of the given characteristic on movie success.

### Steve's Code Goes Here

### Introduction to IMDb Database Preperation   
Movie Data Sets Utilized:  Internet Movie Database (IMDb) & Online Media Database (OMDb).

The IMDb contains a greater range of quantified movie characteristics than does the OMDb.  For 
this reason the IMDb was used to provide the bulk of our testing criteria.  In order to limit 
the scope of the data we pulled only information regarding movies that were feature-length, 
non-"adult", and were released between 2000 and 2019.

In [ ]:
### INITIAL DATA SET ###

# Our first data set is a CSV of film data derived from the data available at https://www.imdb.com/interfaces/. 
# It contains feature-length films released between 2000 and 2019.

# Importing this CSV as a dataframe

imdb_csv = "Resources/trimmed_IMDB_data.csv"
imdb_df = pd.read_csv(imdb_csv, encoding="UTF-8")

imdb_df

In [ ]:
### REFINING DATA SET ###

# Our IMDB data contains hundreds of thousands of movies, many of which had no theatrical release.
# We will combine this data with data constructed from https://movielens.org/, which focuses on released films.

# Importing movielens CSV as a dataframe

movielens_csv = "Resources/movielens_links.csv"
movielens_df =  pd.read_csv(movielens_csv, encoding="UTF-8")

movielens_df

In [ ]:
# Combining the dataframes to find films that are in both

# Renaming themovielens_df "imdbTTID" column to match our imdb_df

movielens_df = movielens_df.rename(columns={"imdbTTID": "tconst"})

# Merging dataframes

big_df = imdb_df.merge(movielens_df, how="inner")

big_df

In [ ]:
### GETTING ADDITIONAL DATA FROM TMDB ###

# Selecting a sample of films for the TMDB API call

# Assigning random number
for index, row in big_df.iterrows():
    random.seed(index)
    big_df.loc[index, "randomNumber"] = random.random()

In [ ]:
# Sorting by random number to randomize
big_df = big_df.sort_values("randomNumber")

# Trimming to 5,000 entries

smaller_df = pd.DataFrame(big_df[:5000])

smaller_df

In [ ]:
# Pulling additional data via a TMDB API call

# Setting base URL
url = "https://api.themoviedb.org/3/movie/"

# Looping through dataframe
for index, row in smaller_df.iterrows():
    movie_id = row["tmdbId"]
    
    full_url = url + str(movie_id) + "?api_key=" + tmdb_api_key
    movie_data = requests.get(full_url).json()

#Setting up error handling and adding data to dataframe

    try:
        smaller_df.loc[index, "Budget"] = movie_data["budget"]
    except:
        smaller_df.loc[index, "Budget"] = "N/A"
        
    try:
        smaller_df.loc[index, "Box Office"] = movie_data["revenue"]
    except:
        smaller_df.loc[index, "Box Office"] = "N/A"
    
smaller_df

In [ ]:
### TRIMMING DATA FOR OMDB API CALLS ###

# Trimming dataframe to only items with Box Office data

boxoffice_df = smaller_df[smaller_df["Box Office"] != "N/A"]
boxoffice_df = boxoffice_df[boxoffice_df["Box Office"] != 0.0]

# Recasting Budget and Box Office as integers

boxoffice_df[['Budget', 'Box Office']] = boxoffice_df[['Budget', 'Box Office']].astype(int)

# Replacing missing values with Nan

boxoffice_df.replace(0, np.nan, inplace=True)

boxoffice_df

In [ ]:
# Reducing to 900 items

sample_df = pd.DataFrame(boxoffice_df[:900])

# Exporting as CSV to preserve data between uses

sample_df.to_csv("Resources/sample.csv",index=False)

In [2]:
# Importing new dataframe from CSV to preserve data between uses

omdb_csv = "Resources/sample.csv"
omdb_api_df = pd.read_csv(omdb_csv, encoding="UTF-8")

omdb_api_df

,tconst,primaryTitle,originalTitle,startYear,runtimeMinutes,genres,movieId,imdbId,tmdbId,randomNumber,Budget,Box Office
0,tt6768578,Dogman,Dogman,2018,103,"Crime,Drama,Thriller",188675,6768578,483184.0,0.000094,NaN,5080147
1,tt1637706,Our Idiot Brother,Our Idiot Brother,2011,90,"Comedy,Drama",88672,1637706,59968.0,0.000106,5000000.0,24816118
2,tt1486185,Red Riding Hood,Red Riding Hood,2011,100,"Fantasy,Horror,Mystery",85397,1486185,49730.0,0.000177,42000000.0,89162162
3,tt1373243,Tarif Novogodniy,Tarif Novogodniy,2008,83,"Comedy,Fantasy,Romance",171549,1373243,50530.0,0.000196,3200000.0,3877492
4,tt0337879,Blackball,Blackball,2003,96,"Comedy,Drama,Sport",32128,337879,15443.0,0.000279,NaN,48000
...,...,...,...,...,...,...,...,...,...,...,...,...
895,tt1347007,Hidden,Skjult,2009,95,"Horror,Thriller",144412,1347007,24821.0,0.133336,2215773.0,1489526
896,tt0195714,Final Destination,Final Destination,2000,98,"Horror,Thriller",3409,195714,9532.0,0.133878,23000000.0,112880294
897,tt1457767,The Conjuring,The Conjuring,2013,112,"Horror,Mystery,Thriller",103688,1457767,138843.0,0.133941,13000000.0,319494638
898,tt0280486,Bad Company,Bad Company,2002,116,"Action,Comedy,Thriller",5414,280486,3132.0,0.134483,70000000.0,65977295
899,tt0384537,Silent Hill,Silent Hill,2006,125,"Horror,Mystery",45081,384537,588.0,0.134556,50000000.0,97607453

#### Conclusion/Segway
The size of the IMDb data set was....   And contained Genre, Run time, Budget, Critical Reviews, User Review, Awards/Nominations and MPAA Ratings.

After the database was acquired and cleaned it was merged with a sample of movies from the OM

### Jim's Code Goes Here

## OMDB Preparation:
    
Although the IMDb does not contain some of the movie characteristics we wished to test, it does contain
the box office information required for our analysis.  We will take a 900 movie sample from the IMDb and
merge it with matching movie information in the OMDb database to form the basis of our analysis.

In [3]:
# # Get a list of IMDB ids 
movie_ids = omdb_api_df['tconst'].tolist()
movie_ids

['tt6768578',
 'tt1637706',
 'tt1486185',
 'tt1373243',
 'tt0337879',
 'tt1375666',
 'tt9795368',
 'tt1446714',
 'tt2345759',
 'tt0324127',
 'tt0247638',
 'tt4044364',
 'tt4291600',
 'tt0342258',
 'tt0165982',
 'tt2948356',
 'tt4537362',
 'tt2194499',
 'tt2121382',
 'tt0381270',
 'tt0880578',
 'tt0238948',
 'tt1999987',
 'tt4129428',
 'tt1377278',
 'tt1926313',
 'tt1410063',
 'tt1410051',
 'tt0419749',
 'tt3508112',
 'tt7818580',
 'tt1270835',
 'tt0381681',
 'tt5938084',
 'tt0486655',
 'tt0266391',
 'tt1841642',
 'tt1179069',
 'tt0200550',
 'tt8359816',
 'tt5838806',
 'tt1216491',
 'tt0279112',
 'tt3569356',
 'tt2671706',
 'tt5221894',
 'tt1656186',
 'tt7016254',
 'tt1151309',
 'tt3064298',
 'tt1034415',
 'tt1313104',
 'tt0180093',
 'tt3179568',
 'tt2372678',
 'tt0492466',
 'tt7158430',
 'tt2823054',
 'tt1592525',
 'tt0449086',
 'tt4466894',
 'tt4520364',
 'tt0467197',
 'tt1235189',
 'tt6556670',
 'tt7967412',
 'tt0430912',
 'tt0390109',
 'tt0859635',
 'tt1423995',
 'tt2926810',
 'tt3121604',
 'tt0841027',
 'tt1314655',
 'tt0407814',
 'tt1820462',
 'tt0493464',
 'tt0357277',
 'tt4809458',
 'tt2461520',
 'tt3110960',
 'tt1212454',
 'tt0120917',
 'tt2855648',
 'tt1322354',
 'tt10627720',
 'tt2034031',
 'tt1340107',
 'tt2294677',
 'tt0255819',
 'tt1448755',
 'tt3530456',
 'tt0800369',
 'tt0907678',
 'tt0219854',
 'tt0374569',
 'tt0962726',
 'tt0372532',
 'tt0233469',
 'tt2713180',
 'tt7589524',
 'tt4819498',
 'tt2784678',
 'tt1109624',
 'tt3905764',
 'tt0419706',
 'tt1464535',
 'tt1282140',
 'tt0492486',
 'tt0399877',
 'tt0381971',
 'tt0337741',
 'tt0236493',
 'tt0234215',
 'tt0277296',
 'tt0462465',
 'tt5266218',
 'tt0477323',
 'tt1458169',
 'tt0765128',
 'tt3860916',
 'tt0409527',
 'tt1668200',
 'tt1798243',
 'tt1185242',
 'tt2314824',
 'tt1954352',
 'tt0304229',
 'tt5180240',
 'tt1300851',
 'tt3540136',
 'tt1049413',
 'tt0191754',
 'tt0415306',
 'tt0411477',
 'tt1181795',
 'tt2368619',
 'tt4337072',
 'tt1355546',
 'tt3702652',
 'tt0377092',
 'tt1046947',
 'tt2209418',
 'tt2247692',
 'tt1155076',
 'tt1059786',
 'tt0857191',
 'tt4353250',
 'tt1074638',
 'tt0351817',
 'tt0396818',
 'tt0445990',
 'tt2797242',
 'tt6439558',
 'tt5311542',
 'tt1322315',
 'tt2652756',
 'tt1441951',
 'tt0458364',
 'tt4066836',
 'tt1517489',
 'tt1853728',
 'tt4621016',
 'tt0222012',
 'tt6511932',
 'tt1496025',
 'tt0197384',
 'tt0473075',
 'tt0402057',
 'tt0387898',
 'tt6578572',
 'tt0408345',
 'tt5091108',
 'tt0227538',
 'tt1646987',
 'tt0361500',
 'tt3172126',
 'tt0361309',
 'tt4468634',
 'tt1786751',
 'tt1043635',
 'tt1127715',
 'tt0815236',
 'tt2357291',
 'tt1127884',
 'tt4057376',
 'tt3263946',
 'tt0285728',
 'tt0387575',
 'tt8119752',
 'tt1261047',
 'tt3369806',
 'tt3348730',
 'tt2720680',
 'tt0376541',
 'tt0901476',
 'tt0806027',
 'tt0457430',
 'tt0758053',
 'tt1152822',
 'tt3417422',
 'tt2710368',
 'tt5834262',
 'tt4935418',
 'tt0795351',
 'tt2018086',
 'tt1433108',
 'tt2203308',
 'tt0476643',
 'tt0195685',
 'tt1620935',
 'tt0379865',
 'tt1107828',
 'tt3460252',
 'tt0469494',
 'tt2080374',
 'tt0499596',
 'tt0315642',
 'tt1034320',
 'tt1790885',
 'tt0312004',
 'tt2011971',
 'tt0259446',
 'tt0250371',
 'tt1535616',
 'tt0453548',
 'tt1634121',
 'tt0240515',
 'tt6866224',
 'tt0249516',
 'tt0204350',
 'tt0376105',
 'tt2608732',
 'tt0993789',
 'tt1235124',
 'tt2788556',
 'tt6663582',
 'tt0360016',
 'tt3416744',
 'tt1473074',
 'tt6495770',
 'tt0206917',
 'tt0416212',
 'tt1726669',
 'tt0379976',
 'tt0279778',
 'tt5442456',
 'tt2126357',
 'tt8781414',
 'tt0796307',
 'tt1946347',
 'tt1305806',
 'tt0864835',
 'tt3488710',
 'tt1340800',
 'tt0473367',
 'tt0350261',
 'tt0425210',
 'tt1007028',
 'tt1152836',
 'tt1132620',
 'tt0427152',
 'tt0462335',
 'tt1038686',
 'tt0442207',
 'tt1549589',
 'tt1055292',
 'tt1396218',
 'tt0132245',
 'tt1796657',
 'tt0328107',
 'tt3863552',
 'tt4555426',
 'tt1863347',
 'tt2377938',
 'tt0343624',
 'tt2370248',
 'tt2355495',
 'tt0318627',
 'tt0422091',
 'tt0211915',
 'tt1195478',
 'tt1130988',
 'tt0278488',
 'tt0303361',
 'tt6499752',
 'tt0848228',
 'tt10039344',
 'tt3112654',
 'tt0433442',
 'tt0255477',
 'tt3508840',
 'tt2476154',
 'tt0962736',
 'tt0241527',
 'tt0448134',
 'tt5814534',
 'tt0361322',
 'tt1742336',
 'tt1757742',
 'tt1477834',
 'tt1650043',
 'tt2678948',
 'tt0368008',
 'tt1536537',
 'tt6304162',
 'tt5968394',
 'tt8106592',
 'tt0810951',
 'tt3157466',
 'tt2402927',
 'tt0326806',
 'tt2400463',
 'tt0355742',
 'tt1800246',
 'tt1324055',
 'tt4698684',
 'tt0331953',
 'tt0179098',
 'tt2103281',
 'tt0403358',
 'tt0311519',
 'tt0308363',
 'tt0479528',
 'tt0492389',
 'tt2226597',
 'tt1817676',
 'tt0274497',
 'tt5813916',
 'tt1285309',
 'tt8963708',
 'tt0403933',
 'tt3079380',
 'tt0312528',
 'tt2385104',
 'tt0247196',
 'tt0756727',
 'tt4846340',
 'tt0970452',
 'tt4217392',
 'tt1657501',
 'tt1872181',
 'tt6774212',
 'tt1028528',
 'tt2562232',
 'tt1067774',
 'tt4425200',
 'tt0248408',
 'tt0292490',
 'tt0318974',
 'tt0283160',
 'tt0206634',
 'tt0490166',
 'tt0892375',
 'tt0780571',
 'tt6487050',
 'tt2865120',
 'tt0163025',
 'tt0331952',
 'tt1645131',
 'tt0456396',
 'tt0462579',
 'tt0327162',
 'tt1541160',
 'tt7725596',
 'tt4771896',
 'tt0386032',
 'tt0473064',
 'tt1190905',
 'tt2312390',
 'tt0170016',
 'tt0397101',
 'tt3702996',
 'tt6811018',
 'tt0267129',
 'tt0371724',
 'tt2882328',
 'tt0408839',
 'tt1080016',
 'tt0416496',
 'tt0377471',
 'tt4136084',
 'tt1976009',
 'tt1411238',
 'tt5599692',
 'tt0205271',
 'tt2884018',
 'tt0371589',
 'tt1284575',
 'tt4669788',
 'tt1174730',
 'tt2278871',
 'tt1324059',
 'tt8991268',
 'tt3231054',
 'tt1664894',
 'tt0271582',
 'tt2272336',
 'tt8085790',
 'tt0412922',
 'tt5173032',
 'tt2281002',
 'tt0264578',
 'tt0804516',
 'tt4302938',
 'tt4110568',
 'tt0339291',
 'tt0822847',
 'tt1615147',
 'tt1612774',
 'tt2769896',
 'tt0337909',
 'tt0465502',
 'tt0385726',
 'tt0310775',
 'tt1244754',
 'tt6908274',
 'tt1844048',
 'tt5311514',
 'tt0261289',
 'tt1924429',
 'tt0295297',
 'tt0221799',
 'tt1634122',
 'tt1032846',
 'tt0968264',
 'tt0903657',
 'tt1666801',
 'tt1245112',
 'tt1562899',
 'tt1270286',
 'tt3678782',
 'tt3619772',
 'tt5969846',
 'tt0266437',
 'tt10521814',
 'tt1121096',
 'tt0367085',
 'tt0420223',
 'tt0478970',
 'tt0492956',
 'tt0457419',
 'tt0134847',
 'tt0814314',
 'tt6193408',
 'tt7458762',
 'tt7844450',
 'tt6915100',
 'tt3253930',
 'tt1961175',
 'tt2555958',
 'tt0457400',
 'tt2017020',
 'tt1210166',
 'tt0413099',
 'tt0338337',
 'tt1252512',
 'tt0816692',
 'tt0349683',
 'tt6320628',
 'tt0455538',
 'tt0375611',
 'tt0377818',
 'tt0924129',
 'tt1715873',
 'tt3469046',
 'tt9426210',
 'tt0373051',
 'tt1945084',
 'tt0785006',
 'tt0144084',
 'tt6133466',
 'tt0167203',
 'tt2404217',
 'tt2771800',
 'tt0456470',
 'tt0212338',
 'tt2328900',
 'tt0280707',
 'tt0800039',
 'tt1422136',
 'tt1401152',
 'tt0431021',
 'tt1600524',
 'tt1666185',
 'tt2088871',
 'tt0837562',
 'tt1386697',
 'tt0361089',
 'tt0146309',
 'tt0264150',
 'tt6288694',
 'tt0805570',
 'tt4765284',
 'tt9356952',
 'tt0318761',
 'tt0313300',
 'tt1275863',
 'tt0265208',
 'tt4608574',
 'tt0339147',
 'tt1023490',
 'tt3385516',
 'tt0804529',
 'tt1034325',
 'tt1758595',
 'tt2582784',
 'tt0780536',
 'tt1817771',
 'tt2363471',
 'tt3862750',
 'tt1680058',
 'tt2771200',
 'tt5563334',
 'tt2103267',
 'tt2294449',
 'tt0987918',
 'tt0449088',
 'tt0422295',
 'tt7798634',
 'tt4088268',
 'tt0301357',
 'tt0404203',
 'tt0121164',
 'tt4129870',
 'tt4351548',
 'tt0281322',
 'tt0799949',
 'tt4851630',
 'tt0803096',
 'tt0832903',
 'tt5814060',
 'tt1723120',
 'tt1606392',
 'tt2309961',
 'tt0348593',
 'tt1181614',
 'tt0460611',
 'tt3127902',
 'tt6458726',
 'tt7524414',
 'tt0857376',
 'tt1646980',
 'tt6981702',
 'tt1041804',
 'tt0369738',
 'tt5376232',
 'tt1308736',
 'tt1167599',
 'tt2363047',
 'tt0289635',
 'tt0495596',
 'tt0435623',
 'tt4158876',
 'tt0157472',
 'tt0417385',
 'tt1018818',
 'tt2756032',
 'tt3165630',
 'tt1675434',
 'tt0454824',
 'tt0439182',
 'tt3567194',
 'tt4777008',
 'tt1707391',
 'tt0298337',
 'tt4210080',
 'tt0382625',
 'tt1992156',
 'tt0272152',
 'tt7520532',
 'tt2304426',
 'tt0207201',
 'tt0240772',
 'tt1966359',
 'tt1810683',
 'tt1189073',
 'tt1776143',
 'tt4644382',
 'tt7014006',
 'tt1339302',
 'tt0465602',
 'tt0479997',
 'tt5023260',
 'tt3110958',
 'tt0470967',
 'tt0273607',
 'tt0422783',
 'tt4717402',
 'tt1083456',
 'tt0342735',
 'tt1185834',
 'tt1261393',
 'tt3132714',
 'tt1180583',
 'tt2277860',
 'tt0138749',
 'tt0376136',
 'tt0369702',
 'tt3760922',
 'tt5160938',
 'tt0992911',
 'tt0361925',
 'tt0383060',
 'tt0775488',
 'tt0844479',
 'tt1127896',
 'tt1204975',
 'tt1175713',
 'tt1626146',
 'tt0325005',
 'tt5989218',
 'tt0286751',
 'tt1232776',
 'tt0865559',
 'tt1687247',
 'tt1013752',
 'tt3956396',
 'tt3799694',
 'tt0285727',
 'tt1273221',
 'tt4800046',
 'tt4126476',
 'tt2654480',
 'tt7926840',
 'tt1854513',
 'tt0248012',
 'tt1201167',
 'tt1777595',
 'tt0489099',
 'tt1179034',
 'tt0372478',
 'tt0374546',
 'tt0267891',
 'tt2094766',
 'tt1915581',
 'tt0211718',
 'tt0325710',
 'tt6857112',
 'tt2295722',
 'tt2612156',
 'tt2494384',
 'tt0276919',
 'tt0385880',
 'tt2281587',
 'tt3108158',
 'tt1629319',
 'tt0276033',
 'tt0401729',
 'tt1763264',
 'tt1197624',
 'tt2870648',
 'tt1194616',
 'tt5970844',
 'tt1907707',
 'tt2402105',
 'tt0499375',
 'tt2321517',
 'tt2002718',
 'tt0328538',
 'tt2223990',
 'tt1772288',
 'tt2364949',
 'tt0384683',
 'tt8119680',
 'tt0960790',
 'tt2378281',
 'tt0421239',
 'tt0325980',
 'tt0395251',
 'tt10555976',
 'tt3470600',
 'tt1531663',
 'tt1276419',
 'tt0468536',
 'tt0452624',
 'tt7630164',
 'tt0458367',
 'tt0245280',
 'tt4341582',
 'tt4481414',
 'tt0473102',
 'tt5468016',
 'tt1856101',
 'tt8116258',
 'tt3007512',
 'tt2048824',
 'tt1355683',
 'tt0327679',
 'tt0414982',
 'tt5360996',
 'tt0295178',
 'tt1183374',
 'tt2234315',
 'tt3901826',
 'tt0332136',
 'tt1595366',
 'tt1860353',
 'tt1456635',
 'tt1014759',
 'tt2215477',
 'tt1047494',
 'tt1190536',
 'tt0328844',
 'tt6572702',
 'tt2258858',
 'tt1907731',
 'tt1149361',
 'tt3062096',
 'tt3129564',
 'tt2321513',
 'tt0403508',
 'tt3521164',
 'tt0449089',
 'tt0290326',
 'tt0838221',
 'tt3488328',
 'tt1142977',
 'tt1323045',
 'tt0327753',
 'tt5929754',
 'tt3078296',
 'tt0425637',
 'tt1251743',
 'tt1428538',
 'tt1192620',
 'tt1884457',
 'tt0811080',
 'tt0449059',
 'tt1946502',
 'tt1188996',
 'tt0200720',
 'tt0332658',
 'tt4258292',
 'tt0234805',
 'tt0476805',
 'tt1230204',
 'tt1596753',
 'tt1440732',
 'tt0340377',
 'tt0338459',
 'tt1001526',
 'tt2525596',
 'tt6966692',
 'tt4538916',
 'tt0320244',
 'tt0276977',
 'tt1718924',
 'tt0452644',
 'tt0888693',
 'tt1929263',
 'tt2101441',
 'tt0808399',
 'tt0299658',
 'tt2402085',
 'tt1029134',
 'tt0120903',
 'tt1133991',
 'tt5322012',
 'tt4073790',
 'tt0323033',
 'tt6476140',
 'tt3660770',
 'tt0822854',
 'tt0368447',
 'tt3399916',
 'tt3450650',
 'tt5427194',
 'tt2450186',
 'tt1621994',
 'tt7759626',
 'tt1893256',
 'tt1748179',
 'tt1032825',
 'tt5177088',
 'tt0441774',
 'tt0255653',
 'tt6791096',
 'tt1512240',
 'tt1699491',
 'tt0952640',
 'tt1891845',
 'tt1424381',
 'tt0387055',
 'tt0266697',
 'tt5091538',
 'tt0184907',
 'tt3286052',
 'tt0367089',
 'tt0429482',
 'tt0486822',
 'tt1291580',
 'tt1161443',
 'tt2288121',
 'tt2545118',
 'tt1120985',
 'tt0278435',
 'tt0808506',
 'tt5156746',
 'tt2361509',
 'tt5161058',
 'tt0360916',
 'tt0419294',
 'tt1564367',
 'tt1767382',
 'tt0309377',
 'tt5716464',
 'tt1411697',
 'tt0429591',
 'tt1821478',
 'tt6806448',
 'tt1405500',
 'tt0473308',
 'tt8695030',
 'tt6931414',
 'tt1972591',
 'tt1846472',
 'tt0169102',
 'tt2414040',
 'tt2034761',
 'tt7585540',
 'tt3687186',
 'tt5789664',
 'tt2246724',
 'tt0907119',
 'tt1172233',
 'tt3264102',
 'tt0452694',
 'tt0364045',
 'tt0210616',
 'tt0204175',
 'tt0255198',
 'tt3896016',
 'tt0356618',
 'tt0439662',
 'tt1477014',
 'tt0844286',
 'tt6644200',
 'tt1570538',
 'tt1487118',
 'tt0331933',
 'tt3714720',
 'tt2311182',
 'tt3043630',
 'tt1203532',
 'tt1153053',
 'tt0388182',
 'tt3316948',
 'tt0338077',
 'tt2531344',
 'tt0264935',
 'tt0243794',
 'tt0396752',
 'tt1355630',
 'tt1126590',
 'tt1477109',
 'tt0230011',
 'tt6450186',
 'tt2275471',
 'tt6385856',
 'tt0469641',
 'tt1502404',
 'tt1687281',
 'tt3280262',
 'tt0303816',
 'tt4034354',
 'tt2582500',
 'tt0415833',
 'tt1959563',
 'tt2126355',
 'tt1893195',
 'tt0476735',
 'tt2224317',
 'tt4824308',
 'tt1388418',
 'tt0426931',
 'tt1263670',
 'tt0861689',
 'tt5644726',
 'tt0489282',
 'tt6628394',
 'tt1663662',
 'tt1548624',
 'tt0368222',
 'tt1077368',
 'tt1667354',
 'tt0323013',
 'tt1663321',
 'tt3305308',
 'tt2452042',
 'tt0311113',
 'tt3212812',
 'tt1221208',
 'tt0995039',
 'tt0166924',
 'tt1347007',
 'tt0195714',
 'tt1457767',
 'tt0280486',
 'tt0384537']

In [4]:
movie_name = []
imdb_id = []
awards = []
genre = []
rated = []
metascore =[]
imdb_rating = []
imdb_votes = []
rotten_tomatoes = []


# 'tt0090605', 'tt1285016'

In [5]:
# movie we want to search for.
url = "http://www.omdbapi.com/?i="
api_key_tx = "&apikey=" + api_key_txt
# response = requests.get(url+api_key_tx).json()
# print(json.dumps(response, indent=4, sort_keys=True))

In [27]:
# Performing a GET request

for id in movie_ids[0:2]:
    
    response = requests.get(url + id +  api_key_tx)
    data = response.json()
  
    try:
       
        movie_name.append(data['Title'])
        imdb_id.append(data['imdbID'])
        awards.append(data['Awards'])          #String response - not numerical
        genre.append(data['Genre'])            #Multiple genres per movie
        rated.append(data['Rated'])
        metascore.append(data['Metascore'])
        imdb_rating.append(data['imdbRating'])
        imdb_votes.append(data['imdbVotes'])
        rotten_tomatoes.append(data['Ratings']['Rotten Tomatoes'])  # Doesn't pull

    except:
        pass

In [25]:
# print(rotten_tomatoes)

[]

In [29]:
# Create new DataFrame

movie_df = pd.DataFrame({'Movie Name' : movie_name, 'IMDB ID': imdb_id, 'Awards' : awards,
                        'Genre' : genre, 'Rated' : rated, 'Metascore' : metascore, 'IMDB Rating' : imdb_rating, 'IMDB Votes' : imdb_votes,
                        'Rotten Tomatoes Rating' : rotten_tomatoes } )

In [ ]:
movie_df

In [ ]:
# Merge movie_df with omdb_api_df to get 900 movies by IMDB ID
movie_sample = pd.merge(omdb_api_df, movie_df, on = "imbdbid")
movie_sample

#### Conclusion/Segway
The size of the IMDb data set was....   And contained Genre, Run time, Budget, Critical Reviews, User Review, Awards/Nominations and MPAA Ratings.

Once our dataset was established we were ready to run our analysis.

Segway to Box Office vs. Runtime Correlations (Kelly's stuff)

### Kelly's Code Here

## Box Office vs. Runtime Correlations
In completing the box office/runtime correlation we had the following considerations....
and face certain issues in cleaning the data, etc. etc. ...

In [ ]:
test_data_df = pd.DataFrame({"Movie Title": ["Ghostbusters", "Ghostbusters II", "Hocus Pocus"],
                             "Run Time": ["100", "110", "120"],
                             "Box Office Sales": ["200", "250", "300"],
                             "Budget": ["150", "250", "350"]})
test_data_df

In [ ]:
# Correlate Box Office v. Run time


x_values = test_data_df["Box Office Sales"]
y_values = test_data_df["Run Time"]
plt.xlabel("Box Office Sales")
plt.ylabel("Movie Run Time (in minutes)")
plt.title("Movie Run time vs Box Office Sales")
plt.scatter(x_values, y_values, marker = "o", facecolors = "purple", edgecolors="black")

plt.show()

In [ ]:
x_values = test_data_df["Box Office Sales"]
y_values = test_data_df["Run Time"]
plt.xlabel("Box Office Sales")
plt.ylabel("Movie Run Time (in minutes)")
plt.title("Movie Run Time vs Box Office Sales")
plt.scatter(x_values, y_values, marker = "o", facecolors = "purple", edgecolors="black")

(slope, intercept, rvalue, pvalue, stderr) = linregress(x_values, y_values)
regress_values = x_values * slope + intercept

line_eq = "y = " + str(round(slope,2)) + "x +" + str(round(intercept,2))

plt.scatter(x_values, y_values, marker = "o", facecolors="purple", edgecolors="black")
plt.plot(x_values,regress_values,"r-")


plt.xlabel("Box Office Sales")
plt.ylabel("Movie Run Time")
plt.title("Movie Run Time vs Box Office Sales")
plt.annotate(line_eq,(10,15),fontsize=15,color="red")


print(f"The r-value is: {rvalue**2}")


plt.show()

In [ ]:
# Correlate Box Office v. Budget

x_values = test_data_df["Box Office Sales"]
y_values = test_data_df["Budget"]
plt.xlabel("Box Office Sales")
plt.ylabel("Movie Budget Amount")
plt.title("Movie Budget Amount vs Box Office Sales")
plt.scatter(x_values, y_values, marker = "o", facecolors = "green", edgecolors="black")

plt.show()

# Awards / nominations
# MPAA Rating

In [ ]:
x_values = test_data_df["Box Office Sales"]
y_values = test_data_df["Budget"]
plt.xlabel("Box Office Sales")
plt.ylabel("Movie Budget Amount")
plt.title("Movie Budget Amount vs Box Office Sales")
plt.scatter(x_values, y_values, marker = "o", facecolors = "green", edgecolors="black")

(slope, intercept, rvalue, pvalue, stderr) = linregress(x_values, y_values)
regress_values = x_values * slope + intercept

line_eq = "y = " + str(round(slope,2)) + "x +" + str(round(intercept,2))

plt.scatter(x_values, y_values, marker = "o", facecolors="green", edgecolors="black")
plt.plot(x_values,regress_values,"r-")


plt.xlabel("Box Office Sales")
plt.ylabel("Movie Run Time")
plt.title("Movie Run Time vs Box Office Sales")
plt.annotate(line_eq,(10,15),fontsize=15,color="red")


print(f"The r-value is: {rvalue**2}")


plt.show()

#### Conclusion/Segway
Conclusios about MPAA Rating analysis
Box Office vs. Critical Review's (Phillips' stuff)

### Philips' Code Goes Here

## Box Office vs. Critical Reviews 
In completing the box critica reviews we had the following considerations....
and face certain issues in cleaning the data, etc. etc. ...

In [ ]:
# Correlate Box Office v. Critical reviews

In [ ]:
# Correlate Box Office v. User reviews

#### Conclusion/Segway
Conclusios with  with Critical & User reviews analysis
Segway to Awards / Nominations (Jim's Stuff).

### Jim's Correlation Section Goes Here

## Box Office vs. Awards / Nominations
In completing the box office vs. awards / nominations we had the following considerations....
and face certain issues in cleaning the data, etc. etc. ...

In [ ]:
test_df = pd.DataFrame({"Movie Title": ["True Lies", "Ghostbusters II", "Hocus Pocus"],
                             "Awards": ["3 nominations", "2 nominations", "5 nominations"],
                        "Box Office Receipts" :["32,000", "143,000", "75,000"]
                             })
# 
test_df['Box Office Receipts'] = pd.to_numeric(test_df['Box Office Receipts'], errors='coerce')
test_df

In [ ]:
# Separate numbers from strings

test_df['Nominations'] = test_df['Awards'].str.extract('(\d+)').astype(float)
test_df

In [ ]:
# Correlate Box Office v. Nominations

x_values = test_df["Nominations"]
y_values = test_df["Box Office Receipts"]
plt.xlabel("Nominations")
plt.ylabel("Box Office Receipts ($)")
plt.title("Award Nominations vs Box Office Sales")
plt.scatter(x_values, y_values, marker = "o", facecolors = "purple", edgecolors="black")

plt.show()

In [ ]:
# Do linear Regression and plot

x_values = test_df["Nominations"]
y_values = test_df["Box Office Receipts"]
plt.xlabel("Nominations")
plt.ylabel("Box Office Reciepts ($)")
plt.title("Award Nominations vs Box Office Sales")
plt.scatter(x_values, y_values, marker = "o", facecolors = "purple", edgecolors="black")

(slope, intercept, rvalue, pvalue, stderr) = linregress(x_values, y_values)
regress_values = x_values * slope + intercept

line_eq = "y = " + str(round(slope,2)) + "x +" + str(round(intercept,2))

plt.scatter(x_values, y_values, marker = "o", facecolors="purple", edgecolors="black")
plt.plot(x_values,regress_values,"r-")


plt.xlabel("Award Nominations")
plt.ylabel("Box Office Receipts")
plt.title("Award Nominations vs Box Office Receipts")
plt.annotate(line_eq,(10,15),fontsize=15,color="red")


print(f"The r-value is: {rvalue**2}")


plt.show()

#### Conclusion/Segway
Conclusios with  with Awards/Nominations analysis
Segway linear regression to T-testing final variables.

In [ ]:
# option  Correlate Box Office v MPAA Rating
#genre

## Steve's T-test (Chi Square? ANOVA?)
I looked at movie genres & MPAA ratings.  With genres we look at 
correlations across cataegories and thus performed a different analysis
that linear regression correlations...

In [ ]:
# option: Steve performs t-test across movie genre 
# and Jim does both Awards & MPAA Rating correlations

#### Conclusion/Segway
Conclusions of genre and MPAA analysis
Segway to project conclusion

## Project Conclusion
In completing the box office vs. awards / nominations we had the following considerations....
and face certain issues in cleaning the data, etc. etc. ...